<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart App</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<a href="/?products=true" class="button">SHOW LIST</a>
///
<a href="/?products=false" class="button">HIDE LIST</a>
<div th:if="${products} != null">
<h2>PRODUCT LIST</h2>
<table class="minimalistBlack">
    <thead>
    <tr>
        <th>NAME</th>
        <th>SKU</th>
        <th>PRICE</th>
        <th>TYPE</th>
    </tr>
    </thead>
    <tr th:each="product : ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.sku}"></td>
        <td th:text="${product.value}"></td>
        <td th:text="${product.type}"></td>
    </tr>
</div>
</table>
</body>
</html>